:root[color-mode="light"] {
  --mainColor: #c0c5ce;
  --secondaryColor: #eaf5ff;

  --navColor: #9e9e9e;
  --activeTab: #eaf5ff;
  --inactiveTab: #eed47c;
  --highlightColor: #fd5e53;

  --borderColor: #131313;
  --secondaryBorderColor: #17a2b8;
  --cornerColor: #fff;

  --mainText: #000;
  --secondaryText: #4b5156;

  --skillsText: #085fd4;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #eed47c;
  --skillsBg: #eed47c;

  --buttonColor: #000;
  --buttonColorText: #fff;

  --linkColor: #132743;
  --secondaryLinkColor: #085fd4;
}

:root[color-mode="dark"] {
  --mainColor: #212121;
  --secondaryColor: #333333;

  --navColor: #000;
  --activeTab: #333333;
  --inactiveTab: #616161;
  --highlightColor: #bb86fc;

  --borderColor: #616161;
  --secondaryBorderColor: #bb86fc;
  --cornerColor: #bb86fc;

  --mainText: #fff;
  --secondaryText: #9e9e9e;

  --skillsText: #bb86fc;

  --themeDotBorders: #24292e;

  --previewBg: #000;
  --previewShadow: #424242;
  --skillsBg: #111111;

  --buttonColor: #fff;
  --buttonColorText: #000;

  --linkColor: #fff;
  --secondaryLinkColor: #085fd4;
}

:root[color-mode="light"] .light--hidden {
  display: none;
}

:root[color-mode="dark"] .dark--hidden {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'BioRhyme', serif;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Space Mono", mono space;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  padding-bottom: 50px;
}

/* Landing page */

#landing {
  padding-bottom: 50px;
}

.title-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}

/* Grid and grid template area */

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 20em;
}

#my-name {
  color: var(--highlightColor);
  font-weight: bold;
  font-size: 64px;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
  gap: 10px;
}

/* "Browser" section
 Flex box */

.nav-wrapper {
  border-radius: 5px 5px 0px 0px;
  grid-area: nav-wrapper;
  border-bottom: 0px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navColor);

  overflow: scroll;
}

#navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0px 10px;
}

.tabs {
  margin-left: 20px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.tabs li {
  justify-content: space-between;
  margin-right: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
  color: var(--linkColor);
}

.active-tab {
  background-color: var(--activeTab);
}

.inactive-tab {
  background-color: var(--inactiveTab);
  overflow: ;
}

.fake-link {
  color: var(--linkColor);
}

.fake-link:hover {
  cursor: pointer;
  box-shadow: inset 0px 3px 0px 0px var(--secondaryBorderColor);
}

/* "Top right browser buttons */

.dots-wrapper {
  display: flex;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: #000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px 5px;
  display: flex;
  align-items: center;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.hide-browser-icon {
  display: none;
}

.browser-close {
  font-size: 12px;
  color: var(--borderColor);
  margin-left: 3.2px;
}

.browser-min {
  font-size: 10px;
  color: var(--borderColor);
  margin-bottom: 8px;
  margin-left: 2.5px;
}

.browser-max {
  font-size: 10px;
  color: var(--borderColor);
  margin-bottom: .4px;
  margin-left: 3px;
}

/* Light/Dark mode switch */

#switch-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 5px #424242;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url(../images/sun-solid.svg);
}

input:checked + .slider {
  background-color: #424242;
}

input:focus + .slider {
  box-shadow: 0 0 5px #424242;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url(../images/moon-solid.svg);
  background-color: #424242;
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Profile picture section */

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile-pic {
  display: block;
  margin: 0 auto;

  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 80% 20%;
  border: 2px solid var(--borderColor);
}

/* Summary section */

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

/* Element positioning with relative and absolute */

#preview {
  width: 300px;
  height: 180px;
  border: 2px solid var(--secondaryBorderColor);
  background-color: var(--previewBg);
  padding: 15px;

  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--secondaryBorderColor);
  background-color: #fff;

  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

/* About me section  */

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-top: 50px;
  gap: 100px;
}

.about-me {
  background-color: var(--previewShadow);
  padding: 10px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--skillsBg);
}

.skills-list > li {
  color: var(--skillsText);
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

#social_img {
  width: 100%;
}

.find-me-wrapper {
  background-color: var(--previewShadow);
  margin-top: 16px;
  padding-bottom: 16px;
}

.find-me {
  margin: 10px auto;
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: grid;
  padding: 5px;
  border-radius: 3px;
  margin: 0px 10px;
}

#github-link {
  color: #eaf5ff;
  background-color: #111111;
}

#linkedin-link {
  color: #eaf5ff;
  background-color: #0073b1;
}

/* Projects Section */

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid black;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: #000;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

.read-more {
  color: var(--secondaryLinkColor);
  font-family: "Space mono", mono space;
  font-size: 12px;

  display: flex;
  justify-content: flex-end;
}

/* Form section */

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-from textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--buttonColorText);
  background-color: var(--buttonColor);
  border: none;
}

/* Media Queries  */

@media screen and (max-width: 1200px) {
  .title-container {
    width: 95%;
  }
  .main-container {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
  }

  .right-column {
    justify-content: center;
  }

  #preview-shadow {
    width: 200px;
  }

  #preview {
    width: 200px;
  }
}
